@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-theme: black;
}
.dark {
  --color-theme: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-moon-300;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-500;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply shadow-[inset_0_0_0_30px] shadow-gray-100 dark:shadow-moon-300;
  -webkit-text-fill-color: var(--color-theme);
}

@layer base {
  p,
  i,
  li,
  label {
    @apply text-moon-900 dark:text-white;
  }
  input,
  select {
    @apply outline-none;
  }
}

@layer components {
  .text {
    @apply text-moon-900 dark:text-white;
  }
  .f-box {
    @apply flex items-center justify-center;
  }
  .f-col {
    @apply flex flex-col;
  }
  .f-between {
    @apply flex justify-between items-center;
  }
  .f-res {
    @apply f-col lg:flex-row;
  }
  .image {
    @apply f-box overflow-hidden rounded-md p-1;
  }
  .line {
    @apply h-[1px] bg-gray-400/80 dark:bg-moon-200;
  }
  .line-bright {
    @apply h-[1px] bg-gray-300/80 dark:bg-moon-100;
  }
  .input {
    @apply text group w-full rounded-md border border-gray-300 dark:border-moon-100 bg-gray-100 p-3.5 pb-3 pt-4 outline-none transition-border focus:border-blue-500 dark:focus:border-blue-500 dark:bg-moon-300;
  }
  .icon {
    @apply f-box h-8 lg:h-9 w-8 lg:w-9 rounded-md p-[2px] lg:p-[3px] transition-none hover:bg-gray-200 dark:hover:bg-moon-100;
  }
  .wrapper {
    @apply bg-gray-200 dark:bg-moon-400 rounded-md animate-appear-up;
  }
  .wrapper-bright {
    @apply bg-gray-100 dark:bg-moon-300 rounded-md animate-appear-up;
  }
  .box {
    @apply bg-gray-100 dark:bg-moon-700 border border-gray-200 dark:border-moon-100 rounded-md;
  }
  .borderless-box {
    @apply bg-gray-100 dark:bg-moon-700 rounded-md;
  }
}

@layer utilities {
  .animate-pulse-right,
  .animate-pulse-right-bright {
    background-image: linear-gradient(
      270deg,
      #e3e3e3 25%,
      #d1d1d1 50%,
      #e3e3e3 75%
    );
    background-size: 200% 100%;
    animation: moving-gradient 1.7s ease-in infinite;
    border-radius: 0.375rem;
  }
  .dark .animate-pulse-right-bright {
    background-image: linear-gradient(
      270deg,
      #222d49 25%,
      #1e263f 50%,
      #222d49 75%
    );
  }
  .dark .animate-pulse-right {
    background-image: linear-gradient(
      270deg,
      #141a29 25%,
      #0c101b 50%,
      #141a29 75%
    );
  }
}

@keyframes moving-gradient {
  100% {
    background-position: 0% 50%;
  }
  0% {
    background-position: 200% 50%;
  }
}
